MYSQL_HOST=altaria.proxy.rlwy.net
MYSQL_PORT=28663
MYSQL_DATABASE=railway
MYSQL_USER=root
MYSQL_PASSWORD=COLOQUE_A_SENHA_DO_RAILWAY_AQUI
MYSQL_SSL=false

# Credenciais do painel local
ADMIN_USERNAME=Admin
ADMIN_PASSWORD=Admin123@
